[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
memory-profiler = "*"

[packages]
numpy = "*"
pigpio = "*"
pyserial = "*"
im920 = {git = "https://github.com/jjj999/im920_py"}
"rpi.gpio" = "*"

[requires]
python_version = "3.7"
